azure-appconfiguration==1.7.1
azure-identity==1.21.0
azure-keyvault-secrets==4.9.0
azure-monitor-opentelemetry==1.6.5
azure-storage-blob==12.24.1
fastapi==0.115.8
gunicorn==23.0.0
httpx==0.28.1
langchain-anthropic==0.3.10
langchain-community==0.3.16
langchain-openai==0.3.9
langchain==0.3.16
langgraph==0.2.68
motor==3.7.0
openpyxl==3.1.5
opentelemetry-instrumentation-logging==0.52b1
pandas==2.2.3
pydantic==2.10.6
pymongo==4.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
rich==13.9.4
twilio==9.4.6
uvicorn==0.34.0