langgraph==0.2.68  
langchain==0.3.16  
langchain-openai==0.3.9  
langchain-community==0.3.16  
python-dotenv==1.0.1  
python-dateutil==2.9.0.post0  
pytz==2024.2  
pymongo==4.11  
motor==3.7.0  
pydantic==2.10.6  
rich==13.9.4  
fastapi==0.115.8  
uvicorn==0.34.0  
gunicorn==23.0.0  
twilio==9.4.6  
python-multipart==0.0.20  
azure-storage-blob==12.24.1  
httpx==0.28.1  
pandas==2.2.3  
openpyxl==3.1.5  
azure-appconfiguration==1.7.1
azure-identity==1.21.0
azure-keyvault-secrets==4.9.0